@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	
	background-color: #E3C95D;
	height:50%;
	
}
#lmu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5DE3DF;
  }
  
  .lm {
    float: left;
  }
  
  .lm a {
    font-family: Roboto;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .lm a:hover {
    color: white;
  }
 
.contenido{
    font-family: Roboto;
    size:22px;
}
.texto{
    font-family: Roboto;
    size:20px;
    text-align: center;
    color:navy;
    font-weight: bold;
}
.ani {
    position: absolute;
	height:200%;
	
    margin: 2%;
	top:-5%;
    overflow: hidden;
 }
  .ani img {
    max-width: 200%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .ani:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  

nav{
	
	position: absolute;
	top: 17%;
	width:100%;
	
	
}
#logo{
	
	position:absolute;
	right:15%;
	
	
}
section{
	
	position:absolute;
	width:100%;
	height:80%;
	
	top:25%;
}
footer{
	
	
	position:absolute;
	width:50%;
	height:5%;
	right:25%;
	top:110%;
	
}
#lmu{
	display: flex;
   justify-content: center;
   align-items: center;
	
}
#title{
	position:absolute;
	
	
	top:5%;
	right:30%;
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


